{% extends 'basic.html' %}
{% block title %} Services {% endblock title %}
{% load static %}


{% block body %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Web development</a></h4>
          <p class="description"> Building web applications using Python web frameworks such as Django, Flask, or Pyramid. This includes front-end development using HTML, CSS, JavaScript, and other relevant technologies, as well as back-end development using Python to create dynamic and interactive websites.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Data Science and Machine Learning</a></h4>
          <p class="description">Utilizing Python libraries such as NumPy, Pandas, Scikit-Learn, TensorFlow, and Keras to develop data science and machine learning solutions. This includes data analysis, data visualization, statistical modeling, and building machine learning models for tasks like classification, regression, and clustering.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">Database Integration</a></h4>
          <p class="description">Integrating Python with databases such as MySQL, PostgreSQL, MongoDB, or SQLite to store, retrieve, and manipulate data. This may include designing database schemas, writing SQL queries, and developing Python-based database interfaces or APIs.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Custom Python Application Development</a></h4>
          <p class="description"> Developing custom Python applications tailored to the specific needs of clients. This may include building desktop applications, command-line tools, or other specialized Python applications for various use cases.

            Consulting and Technical Advice: Providing consulting services to clients on Python development best practices, technology recommendations, and other technical advice to help them make informed decisions.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">Django CMS Development</a></h4>
          <p class="description">Developing websites using Django CMS (Content Management System), which is a robust and flexible CMS built on top of Django. This includes customizing themes, plugins, and templates, setting up content workflows, managing content types, and other CMS-related tasks.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Django E-commerce Solutions</a></h4>
          <p class="description">Building e-commerce websites and applications using Django and integrating with popular e-commerce platforms and payment gateways. This includes developing custom shopping cart systems, order management, product catalogs, and other e-commerce features.</p>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->
{% endblock body %}